@page "/"
@using Blazored.TextEditor
@using Stratom.Form.Core.Models
@using Stratom.Form.Core.Services
@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject IFicheService ficheService

@if (fiche == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<table class="table">
        <thead>
            <tr>
                <th>NumeroFiche</th>
                <th>student_id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ficheList)
            {
                <tr>
                    <td>@item.NumeroFiche</td>
                    <td>@item.student_id</td>
                </tr>
            }
        </tbody>
    </table>*@
    <h3>@NumeroFiche</h3>
    <br>
    <br>
    <label>Activities Table</label>
    <input type="text" value="@activite.Souscription" class="form-control" placeholder="Libelle">
    <input type="text" value="@activite.Autre" class="form-control" placeholder="Libelle">
}


@code {

    public IEnumerable<Fiche> ficheList { get; set; }
    public Activite activite { get; set; }
    public Fiche fiche { get; set; }
    public string NumeroFiche { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var principal = HttpContextAccessor.HttpContext.User;
        var loggedInUserId = principal.FindFirstValue(ClaimTypes.NameIdentifier);
        //fiche = new IEnumerable<Fiche>();
        ficheList = (await ficheService.GetAllFiches()).ToList();
        fiche = ficheList.FirstOrDefault(x => x.student_id == loggedInUserId);
        NumeroFiche = "Document No. " + fiche.NumeroFiche;
        activite = fiche.Activites.FirstOrDefault();
        //authorList = await authorService.GetAuthors();
        await base.OnInitializedAsync();
    }

}